.pickupFeatures {
  margin: 40px 0;
  padding: 40px 0;
  background: var(--color-background-tertiary);

  & > .features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    width: 100%;
    max-width: var(--width-container);
    padding: 0 16px;
    margin: 0 auto;
  }

  & > .features > .feature > .title {
    font-size: var(--font-h5);
    line-height: 1.25;
    font-weight: var(--font-bold);
  }

  & > .features > .feature > .body {
    margin-top: 16px;
    font-size: var(--font-body-small);
    line-height: 1.5;
  }
}
