@import '_variables';
@import '_common';

@import 'components/_siteFooter';
@import 'components/_pickupFeatures';
@import 'components/_pickupGallery';
@import 'components/_galleryContainer';

body {
  padding-top: 100px;
  font-size: var(--font-body);
  font-family: var(--font-primary);
  font-weight: var(--font-regular);
}
